{% extends 'components/base.html' %}
{% block head %}
  <script type="text/javascript">
        $(document).ready(function(){
          $(".select").select2({closeOnSelect: true, tags: true, placeholder:"Type the name "});

          $(".selectm").select2({closeOnSelect: false, tags: true, placeholder:"Type the name of the platform"});



          $('#addComponent').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    drive_type: {
                        validators: {
                            row: '.col-xs-2',
                            notEmpty: {
                                message: 'The Drive Type is required'
                            },
                        }
                    },
                    name: {
                        validators: {
                            row: '.col-xs-2',
                            notEmpty: {
                                message: 'The Name is required'
                            },
                        }
                    },
                    vendor: {
                        validators: {
                            row: '.col-xs-2',
                            notEmpty: {
                                message: 'The Vendor is required'
                            },
                        }
                    },
                    fw_version: {
                        validators: {
                            row: '.col-xs-2',
                            notEmpty: {
                                message: 'The fw_version is required'
                            },
                        }
                    },
                    model: {
                        validators: {
                            row: '.col-xs-2',
                            notEmpty: {
                                message: 'The model is required'
                            },
                        }
                    },
                    platform: {
                        row: '.col-xs-8',
                        validators: {
                            notEmpty: {
                                message: 'The platform is required'
                            },
                        }
                    }
                }
            });

        });


    </script>
{% endblock %}
{% block body_block %}
<div class="row">
 <div class="col-xs-5 block" style="font-size: 1.5em !important;">Add a Drive Information</div>
    {% comment %}style="float: left"{% endcomment %}
    <div class="col-xs-5 col-xs-push-2 block" ><a style="float: right; clear: both;" href="/components/index/{{request.session.ws_name}}/{{request.session.release}}" ><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
</div>
</div>
<hr>

<!--
<div style=" clear: right; float: right; ">
<select class="select" style="width:200px;" >
    <option disabled selected value> -- Select a Template -- </option>
        {% for component in allComponents %}
        <option value="{{ component.uniqueName }}|{{ component.description }}|{{ component.packageVersion }}|{%  for l in component.platform.all %}{{l.platformName}},{% endfor %}|{{ component.vendorString }}|{{ component.verifyApi }}">{{ component.description }}</option>
        {% endfor %}
    </select>
</div>
-->


    <form id="addComponent" action="/components/adddrive/" method="post">
    {% csrf_token %}
    <!--<div class="form-group row" style="width:95%;">
      <div class="col-xs-2">
        <label for="vendorId">Vendor Id</label>
        <input class="form-control" placeholder="Vendor Id" name="vendorId" type="text">
      </div>
         <div class="col-xs-2">
        <label for="deviceId">Device Id</label>
        <input class="form-control" placeholder="Device Id" name="deviceId" type="text">
      </div>
         <div class="col-xs-2">
        <label for="subVendorId">Sub Vendor Id</label>
        <input class="form-control" placeholder="Sub Vendor Id" name="subVendorId" type="text">
      </div>
         <div class="col-xs-2">
        <label for="subDeviceId">Sub Device Id</label>
        <input class="form-control" placeholder="Sub Device Id" name="subDeviceId" type="text">
      </div>
    </div> -->


    <div class="form-group row">
        <div class="col-xs-4">
          <label for="drive_type">Drive Type</label>
          <select class="select"  name="drive_type" style="width:95%"><!--:672px;"-->
           <option disabled selected value> -- Select a Drive Type -- </option>
           <option value="hdd">HDD</option>
           <option value="sdd">SDD</option>
          </select>
        </div>

        <div class="col-xs-4">
          <label for="name">Name</label>
          <input class="form-control"  placeholder="Name"  name="name" type="text">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
          <label for="vendor">Vendor</label>
          <select class="select"  name="vendor" style="width:95%"><!--:672px;"-->
           <option disabled selected value> -- Select a Vendor -- </option>
           <option value="Segate">Segate</option>
           <option value="Intel">Intel</option>
           <option value="Toshiba">Toshiba</option>
           <option value="HGST">HGST</option>
           <option value="Micron">Micron</option>
           <option value="Samsung">Samsung</option>
          </select>
        </div>

        <div class="col-xs-4">
          <label for="fw_version">FW-VERSION</label>
          <input class="form-control"  placeholder="FW-VERSION"  name="fw_version" type="text">
        </div>

    </div>

    <div class="form-group row">

        <div class="col-xs-4">
          <label for="model">Model</label>
          <input class="form-control"  placeholder="Model"  name="model" type="text">
        </div>

    </div>

<!--
      <div class="form-group row">
      <div class="col-xs-4">
        <label for="uniqueName">Uniqiue Name</label>
        <input class="form-control" placeholder="Unique Id" name="uniqueName" type="text">
      </div>
         <div class="col-xs-4">
        <label for="description">Description</label>
        <input class="form-control" placeholder="Component" name="description" type="text">
      </div>
    </div>
     <div class="form-group row">
      <div class="col-xs-4">
        <label for="packageVersion">Package Version</label>
        <input class="form-control"  placeholder="Package Version"  name="packageVersion" type="text">
      </div>
-->
	<!--
         <div class="col-xs-4">
		<a href="allcomponents">allcomponents</a> -->
        <!-- <label for="verifyApi">Verify</label> -->
        <!-- <input class="form-control" placeholder="Verify api" name="verifyApi" type="text"> -->
      <!--</div> -->
<!--    
      </div>
        <div class="form-group row">
        <div class="col-xs-8">
        <label for="vendorString">Vendor</label>
        <input class="form-control" placeholder="Vendor" name="vendorString" type="text">
      </div>
      </div>
-->
        <div class="form-group row">
         <div class="col-xs-8">
        <label for="platform">Platforms</label>
             <select class="selectm" multiple= "multiple" name="platform" style="width:672px;" >
        <option value="all"> All PLATFORMS </option>
        {% for plat in allPlatforms %}
        <option value="{{plat.platformName}}">{{ plat.platformName }}</option>
        {% endfor %}

    </select>
      </div>
    </div>
           <input type="submit" class="btn btn-default" value="Add Drive" />
    <!--<p><LABEL for="exists">Exists:</LABEL><input type="checkbox" placeholder="Exists" name="exists" checked></input></p>-->
</form>

{% endblock %}





