{% extends 'components/base.html' %}
{% block head %}
<style>
textarea
{
    width : 850px !important;
    height: 100px !important;
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 4px;
    }
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: content-box !important;
    display: inline-block;
    min-width: 0em !important;
    padding: 0em 0em !important;
    margin-left: 0px !important;
    outline: none !important;
}
</style>
    <script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('.exam').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#example').DataTable();

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
    </script>
{% endblock %}
{% block body_block %}
    <div class="row">
 <div class="col-xs-5 block" style="font-size: 1.5em !important;">{{ component.description }}</div>
    {% comment %}style="float: left"{% endcomment %}
    <div class="col-xs-5 col-xs-push-2 block" ><a style="float: right; clear: both;" href="/components/index/{{request.session.ws_name}}/{{request.session.release}}" ><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
</div>
</div>

<hr>

    <br>
        <div class="pull-right">
    <a href="/components/modify/{{ component.id }}" ><span class="glyphicon glyphicon-pencil"></span>Modify Component</a>
    </div>
    <a href="/components/hookdisc/{{ component.id }}/{{ dhooknew}}" ><span class="glyphicon glyphicon-plus"></span>Add New Discovery Hook</a>
       <br>
    <br>
    <table id="example" class="display component table table-striped" cellspacing="0" width="100%">
<!--<table class="table table-hover  results table-striped component">
    -->
    <thead><tr>
        <th>Discovery Hook Name</th>
        <th>Platforms</th>
        <th>Edit hook</th>
        <th>Delete hook</th>
    </tr>
    </thead>
      <tfoot><tr>
        <th class="exam">Discovery Hook Name</th>
        <th class="exam">Platforms</th>
        <th>Edit hook</th>
          <th>Delete Hook</th>

    </tr>
    </tfoot>
        <tbody>
    {% for discoveryhook in discoveryHooks %}
    <tr>
        <td>{{ discoveryhook.dhookName }}</td>
        <td>{{ discoveryhook.dplatform }}</td>
        <td><a href="/components/hookdisc/{{ component.id }}/{{ discoveryhook.id }}"><span class="glyphicon glyphicon-pencil"></span>Edit Hook</a></td>
        <td><a href="/components/hookdisc/{{ component.id }}/{{ discoveryhook.id }}/delete" onclick="return confirm('Are you sure you want to delete this?')"><span class="glyphicon glyphicon-trash"></span>Delete Hook</a></td>
    </tr>
      {% endfor %}
        </div>
    </tbody>
    </table>
{% endblock %}