{% extends 'components/base.html' %}
{% block head %}
<style>
    dt, dd {
  line-height: 20px !important;
  /* Keep this the same as line-height */
  min-height: 20px !important;
 }
    .component
    {
        font-size: 13px !important;
    }


    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 4px;
    }
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: content-box !important;
    display: inline-block;
    min-width: 0em !important;
    padding: 0em 0em !important;
    margin-left: 0px !important;
    outline: none !important;
}
</style>

    <script>
$(document).ready(function() {
    $(".selectm").select2({closeOnSelect: true, tags: true, placeholder:"Type the name of the platform"});
       $('[data-toggle="popover"]').popover();
    // Setup - add a text input to each footer cell
    $('.exam').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#example').DataTable({select:true});


    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
</script>
{% endblock %}

{% block body_block %}

{% if allComponents %}
    <div class="row">
        <div class="col-xs-5 block" ><h3>Expanders</h3></div>

          <div class="col-xs-5 col-xs-push-2 block" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right; clear: both;" href="/components/addexpander/"><span class="glyphicon glyphicon-plus"></span> Add Expander</a>
          </div>

    </div>
    <hr style="margin: 0px !important;">
    <br>

    <!--<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search the table">
</div>-->
        <span class="counter pull-right"></span>
    <table id="example" class="display component table table-striped" cellspacing="0" width="100%">
<!--<table class="table table-hover  results table-striped component">
    -->
    <thead><tr>
        <th>Brand String</th>
        <th>Description</th>
        <th>Packaged Version</th>
        <th>Platforms</th>
        <th>Component Details</th>
        <th> Hook</th>
        <!-- <th>Update Hook</th> -->
    </tr>
    </thead>
      <tfoot><tr>
        <th class="exam input-sm">Brand String</th>
        <th class="exam input-sm">Description</th>
        <th class="exam input-sm">Packaged Version</th>
        <th class="exam input-sm">Platforms</th>
        <th>Component Details</th>
        <th>Hook</th>
        <!-- <th>Update Hook</th> -->
    </tr>
    </tfoot>
        <tbody>
    {% for component in allComponents %}

    <tr>
        <td>{{ component.uniqueName }}</td>
        <td>{{ component.description }}</td>
        <td>{{ component.packageVersion }}</td>
        <td><a href="#" data-toggle="popover" data-trigger="hover"  data-html="true" data-content="<ul style='list-style: none;  padding-left:0;'><li></li>{%  for l in component.platform.all %}<li>{{l.platformName}}</li>{% endfor %}</ul>">Platforms</a></td>

        <!--<td><a href="/components/modify/{{ component.id }}"><ul style="list-style-position: outside; padding-left:0;">{%  for l in component.platform_set.all %}<li>{{l}}</li>{% endfor %}</ul></a></td>
        -->
        <td><a data-toggle="modal" data-target="#componentModal{{ component.pk }}"><span class="glyphicon glyphicon-eye-open" ></span>Component</a></td>
        <td><a href="/components/hookdisc/{{ component.id }}"><span class="glyphicon glyphicon-pencil" >Add/Edit Hook</span></a></td>
        <!-- <td><a href="/components/hookupdt/{{ component.id }}"><span class="glyphicon glyphicon-pencil"></span>Edit</a></td> -->
    </tr>


<!-- Modal -->
    <div id="componentModal{{ component.pk }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Component Information</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group"  style="text-align: center; ">
            <dl class="dl-horizontal text-left">
                <dt>Brand String</dt>
                <dd>{{ component.uniqueName }}</dd>
                <dt>Component</dt>
                <dd>{{ component.description }}</dd>
                {% comment %}<dt>Exists</dt>
                <dd>{{ component.exists }}</dd>
                {% endcomment %}
                <dt>Package Version</dt>
                <dd>{{ component.packageVersion }}</dd>
                <dt>Platform</dt>
                <dd><ul style="list-style: none; padding-left:0;">{%  for l in component.platform.all %}
                    <li>{{ l.platformName}}</li>
                {% endfor %}</ul>
                    </dd>
                <!--<dt>Tools</dt>
                <dd>{{ component.id.toolassociation }}</dd> -->
            </dl>
            </div>
            <div class="modal-footer">
                <a href="/components/modifyexpander/{{ component.id }}"><button type="button" class="btn btn-primary">Edit Data</button></a>
                <a href="/components/deleteexpander/{{ component.id }}"><button type="button" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this?')">Delete Data</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

      {% endfor %}




        </div>
    </tbody>
    </table>

<!--
    <form method="get" action="" >
        <div class="form-group row">
         <div class="col-xs-2">
             <label for="platform">Select Platform</label>
             <select class="selectm" name="platform" style="width:672px;" >
                {% for plat in allPlatforms %}
                <option value="{{plat.platformName}}">{{ plat.platformName }}</option>
                {% endfor %}
            </select>
         </div>

        </div>
        <div class="col-xs-2">
             <input type="submit" class="btn btn-primary" value="Download Catalog">
        </div>
    </form>
    -->
{% else %}
<div class="row">
        <div class="col-xs-5 block" ><h3>Sorry you don't have any components</h3></div>

          <div class="col-xs-5 col-xs-push-2 block" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right; clear: both;" href="{% url 'addexpander' %}"><span class="glyphicon glyphicon-plus"></span> Add Expander</a>
          </div>

</div>
{% endif %}
{% endblock %}
