{% extends 'components/base.html' %}
{% block head %}
<style>
    dt, dd {
  line-height: 20px !important;
  /* Keep this the same as line-height */
  min-height: 20px !important;
 }
    .component
    {
        font-size: 13px !important;
    }


    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 4px;
    }
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: content-box !important;
    display: inline-block;
    min-width: 0em !important;
    padding: 0em 0em !important;
    margin-left: 0px !important;
    outline: none !important;
}
</style>

    <script>
$(document).ready(function() {
       $('[data-toggle="popover"]').popover();
    // Setup - add a text input to each footer cell
    $('.exam').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#example').DataTable({select:true});


    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
</script>
{% endblock %}

{% block body_block %}

{% if allStorage %}
      <div class="row">
        <div class="col-xs-5 block" ><h3>Storage</h3></div>
          <div class="col-xs-5 col-xs-push-2 block" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right; clear: both;" href="{% url 'addstorage' %}"><span class="glyphicon glyphicon-plus"></span> Add Storage</a>
          </div>
      </div>
      <hr style="margin: 0px !important;">
      <br>
    <!--<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="Search the table">
</div>-->
        <span class="counter pull-right"></span>
    <table id="example" class="display component table table-striped" cellspacing="0" width="100%">
<!--<table class="table table-hover  results table-striped component">
    -->
    <thead><tr>
        <th>Match</th>
        <th>Init</th>
        <th>Max_Drives</th>
        <th>Slot_Map_Strategy</th>
        <th>Platforms</th>
        <th>PCIE_Slots Details</th>
    </tr>
    </thead>
      <tfoot><tr>
        <th class="exam input-sm">Match</th>
        <th class="exam input-sm">Init</th>
        <th class="exam input-sm">Max_Drives</th>
        <th class="exam input-sm">Slot_Map_Strategy</th>
        <th class="exam input-sm">Platforms</th>
        <th>PCIE_Slots Details</th>
    </tr>
    </tfoot>
        <tbody>
    {% for storage in allStorage %}

    <tr>
        <td>{{ storage.match }}</td>
        <td>{{ storage.init }}</td>
        <td>{{ storage.max_drives }}</td>
        <td>{{ storage.slot_map_strategy }}</td>
        <td><a href="#" data-toggle="popover" data-trigger="hover"  data-html="true" data-content="<ul style='list-style: none;  padding-left:0;'><li></li>{%  for l in storage.platform.all %}<li>{{l.platformName}}</li>{% endfor %}</ul>">Platforms</a></td>
        <td><a data-toggle="modal" data-target="#storageModal{{ storage.pk }}"><span class="glyphicon glyphicon-eye-open" ></span>Details</a></td>

        <!--
        <td><a data-toggle="modal" data-target="#componentModal{{ component.pk }}"><span class="glyphicon glyphicon-eye-open" ></span>Component</a></td>
        <td><a href="/components/hookdisc/{{ component.id }}"><span class="glyphicon glyphicon-pencil" >Add/Edit Hook</span></a></td> -->
        <!-- <td><a href="/components/hookupdt/{{ component.id }}"><span class="glyphicon glyphicon-pencil"></span>Edit</a></td> -->
    </tr>


<!-- Modal -->
    <div id="storageModal{{ storage.pk }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Storage Information</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group"  style="text-align: center; ">
                        <dl class="dl-horizontal text-left">
                            <dt>Match</dt>
                            <dd>{{ storage.match }}</dd>
                            <dt>Init</dt>
                            <dd>{{ storage.init }}</dd>
                            <dt>Max_Drives</dt>
                            <dd>{{ storage.max_drives }}</dd>
                            <dt>Slot_Map_Strategy</dt>
                            <dd>{{ storage.slot_map_strategy }}</dd>

                            <dt>Platform</dt>
                            <dd><ul style="list-style: none; padding-left:0;">
                                {%  for l in storage.platform.all %}
                                <li>{{ l.platformName }}</li>
                                {% endfor %}</ul>

                            </dd>
                        </dl>
                     </div>
                    <div class="modal-footer">
                        <a href="/components/modifystorage/{{ storage.id }}"><button type="button" class="btn btn-primary">Edit Data</button></a>
                        <a href="/components/deletestorage/{{ storage.id }}"><button type="button" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this?')">Delete Data</button></a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </tbody>
    </table>
    <!--<a href="{% url 'addstorage' %}"><button type="button" class="btn btn-default">Add New Storage</button></a> -->
{% else %}
<div class="row">
        <div class="col-xs-5 block" ><h3>Sorry you don't have any components</h3></div>

          <div class="col-xs-5 col-xs-push-2 block" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a style="float: right; clear: both;" href="{% url 'addstorage' %}"><span class="glyphicon glyphicon-plus"></span> Add Storage</a>
          </div>

</div>
<!--<a href="{% url 'addstorage' %}"><button type="button" class="btn btn-default">Add New Storage</button></a> -->
{% endif %}
{% endblock %}
